
/* главный заголовок color: #FFFFFF; */
/* цвет заголовка H2  color: #212121; */
/* цвет текста color: #757575; */
/* цвет акцента color: #2196F3; */
/* вторичный цвет фона backrgound: #F5F4FA */
/* первичный цвет фона background: #FFFFFF; */

/* var - variables - переменная */
/* a, button - color: inherit; 
- наследуй цвет шрифта от родителя */
/* :hover, :focus - псевдокласы */

/* CSS-переменные */

/* index.html */
/* body селектор, специфика - 1 */



/* шапка сайта */

/* .logo селектор класса, специфика - 10 */

/* логотип */




.page-header {
    background-color: var(--primery-white-color);
    border-bottom: 1px solid #ECECEC;
}

.main-nav {
    display: flex;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    /* убралт маркер у списка */
}

/* селектор класса, специфика - 20 */

/* site-nav */

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav__item + .site-nav__item {
    margin-left: 50px;
}

.site-nav .current {
    position: relative;
}

.site-nav .current::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: var(--accent-color);
    border-radius: 2px;
}

    /* убераем крайний маржин */

/* .site-nav .item:last-child {
    margin: 0;
} */

/* .site-nav .item:not(:last-child) {
    margin-right: 50px;
} */


.site-nav__link {
    color: var(--primery-text-color);
    text-decoration: none;
    /* убрали нижнее подчеркивание */

    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* селектор класса, специфика - 30 */
/* :hover - эфект при навидени mыши */
/* :focus - эфект фокусировки, 
когда нажал и держишь или ТАБ */
.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--accent-color);
}

.site-nav__link.current {
    color: var(--accent-color);
}


/* auth-nav */

.auth-nav__link {
    color: var(--title-text-color);
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;

    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.auth-nav__item {
    margin-right: 30px;
}

.icon-mail,
.icon-tel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-nav__link:hover,
.auth-nav__link:focus {
    color: var(--accent-color);
}

.envelope,
.smartphone {
    fill: currentColor;
    margin-right: 10px;
}

/* секция hero */

.hero {
    margin: 0;
    padding: 0;
}

.background-hero {
     font-weight: 900;
     font-size: 44px;
     line-height: 1.363;
     text-align: center;
     letter-spacing: 0.06em;
     text-transform: uppercase;

     padding-top: 200px;
     padding-bottom: 200px;

     width: 1600px;
     height: 600px;
     margin-left: auto;
     margin-right: auto;
     background-color: #2F303A;
     background-image: linear-gradient(
     rgba(0,0,0,0.4), 
     rgba(47,48,58,0.4)), 
     url("../images/icon/fon.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }

.hero-title {
    color: var(--primery-white-color);
    font-size: 44px;

    margin: 0;
    margin-bottom: 30px;
}

/* button */

.background-hero__button {
    color: var(--primery-white-color);
    background-color: var(--accent-color);
    cursor: pointer;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;

    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0 solid transparent;
}

/* модальное окно */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 528px;
    height: 581px;
    padding: 40px;
    background: var(--primery-white-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    /* overflow: scroll; */
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    position: absolute;
    list-style: none;
    top: 8px;
    right: 8px;
    border: none;
    background-color: var(--primery-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.modal-close:hover,
.modal-close:focus {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__text {
    margin-bottom: 12px;

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primery-text-color);
}

/* формы модалки */

.form {
    margin-left: auto;
    margin-right: auto;
}

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-field__label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.166;

    letter-spacing: 0.01em;
    color: #757575;
}

.form-field__input {
    outline: none;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 12px 0 12px 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.form-field__inpu:hover,
.form-field__inpu:focus {
    border: 1px solid var(--accent-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__icon {
    position: absolute;
    top: 65%;
    left: 12px;
    transform: translateY(-50%);
}

.form-field__input:focus ~ .form-field__icon {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}    

.form-field__textarea {
    outline: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
}

.form-agreement {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.form-agreement__checkbox {
    margin-right: 7px;
}

.form-agreement__agreement {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
}

.form-agreement__link {
    color: var(--accent-color);
}

.send-button {
    margin: 0;
    padding: 10px 55px;
    margin-right: auto;
    margin-left: auto;

    background: #188CE8;
    border-radius: 4px;
    border-color: transparent;

    font-size: 16px;
    line-height: 1.875;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;

    cursor: pointer;
}

.send-button:hover,
.send-button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* наши возможности */

.feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature-list__item {
    margin-right: 30px;
}

.feature-list__item:nth-child(4n) {
    margin-right: 0;
}

.feature-list .title {
    color: var(--primery-text-color);
}

.feature-list__item {
    /* background-color: orange; */
    width: 270px;
}

/* .icon-antenna::before {
    background-image: url("../imeges/icon/antenna.svg");
}

.icon-watch::before {
    background-image: url("../imeges/icon/watch.svg");
}

.icon-vector::before {
    background-image: url("../imeges/icon/vector.svg");
}

.icon-astronaut::before {
    background-image: url("../imeges/icon/astronaut.svg");
} */

        /* Альтернатива */

/* .list-icone:nth-child(1)::before {
    background-image: url("../imeges/icon/antenna.svg");
}

.list-icone:nth-child(2)::before {
    background-image: url("../imeges/icon/watch.svg");
}

.list-icone:nth-child(3)::before {
    background-image: url("../imeges/icon/vector.svg");
}

.list-icone:nth-child(4)::before {
    background-image: url("../imeges/icon/astronaut.svg");
} */

.section .section-title {
    margin-bottom: 50px;
}

.list-icone {
    flex-basis: calc((100% - 90px) / 4);
}

.icon-benefits {
    padding: 0;
    padding: 25px 100px;
    border: none;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
}

.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.text {
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
}


/* чем мы занимаемся */

.img {
    display: flex;
    padding-bottom: 94px;
}

.thumb {
    display: flex;
    position: relative;
}

.thumb::before {
    display: inline-block;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #2F303A;
    opacity: 0.8;
}

.technology-title {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}

.technology-title {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 27px 82px;
    opacity: 1;
}

.thumb__technology {
    display: block;
    width: 100%;
    object-fit: cover;
}

.img .thumb + .thumb {
    margin-left: 30px;
}

.section-title {
    color: var(--primery-text-color);

    margin: 0;
    padding: 0;
    padding-top: 94px;
    /* margin-bottom: 50px; */

    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
}


/* наша команда */

.section-command {
    background-color: var(--section-command-bc);
    padding-bottom: 94px;
}

.section-command .work {
    padding-top: 94px;
    margin-bottom: 50px;
}

.employees-list {
    display: flex;
}

.employees-list__title + .employees-list__title {
    margin-left: 30px;
}

.employees-list__title {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.employees-list__title {
    background-color: var(--primery-white-color);
}

.photo {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

.name {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

.name {
    color: var(--primery-text-color);
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
}

.profession {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;

    color: var(--title-text-color);

    font-size: 16px;
    line-height: 1.187;
    text-align: center;
}

.network-list {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
}


.network-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    background-color: var(--primery-white-color);
    color: var(--clients-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.network-list__link:hover,
.network-list__link:focus{
  background-color: var(--accent-color);
  color: var(--primery-white-color);
  
}

.network-list__link {
    fill: currentColor;
}

.network-item:not(:last-child) {
    margin-right: 10px;
}

    /* Постоянные клиенты */

.customers {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    padding-bottom: 94px;
}

.customers__section-title {
    color: var(--primery-text-color);
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 00.03em;
}

.customers__container-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.container-list__item:not(:last-child) {
    margin-right: 30px;
}

.container-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primery-white-color);
    width: 170px;
    height: 92px;
}

.container-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--clients-color);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    color: var(--clients-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-list__link:hover,
.container-list__link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.container-list__icon {
    fill: #AFB1B8;
    /* fill: currentColor; */
}

     /* подвал */

.page-footer {
    background-color: #2F303A;
}

.page-footer__container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.background-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: 70px;
    /* padding-left: 215px; */
}

.logo__color__white {
    color: var(--primery-white-color);
}

.page-footer__link {
    margin-bottom: 20px;
}

.auth-nav-footer .contacts-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    font-size: 14px;
    line-height: 1.714;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover,
.auth-nav__link:focus {
    color: var(--accent-color);
}

.auth-nav__address {
    color: var(--primery-white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;

    margin-bottom: 9px;
}

.auth-nav__mail {
    margin-bottom: 9px;
}

.social-networks {
    margin: 0;
    padding: 0;
    width: 206px;
}

.social-networks__text{
    margin: 0;
    padding: 0;
    color: var(--primery-white-color);
    margin-bottom: 20px;
    align-content: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.social-networks__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-networks__link {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--primery-white-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__link:hover,
.social-networks__link:focus {
    background-color: var(--accent-color);
    color: var(--primery-white-color);
}

.social-networks__icon {
    fill: currentColor;
}

.subscribe {
    display: flex;
    align-items: end;
    margin-left: 93px;
}

.subscribe__form {
    display: flex;
    flex-direction: column;
}

.subscribe__label {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;

    margin-bottom: 20px;
}

.subscribe__input {
    width: 358px;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    background-color: var(--footer-color);
    margin-right: 12px;

    outline: none;

    padding: 15px 16px;

    caret-color: white;

}

.subscribe__input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
}

.subscribe__button {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    height: 50px;

    padding: 10px 29px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;

    cursor: pointer;
}

.subscribe__icon {
    margin-left: 10px;
}



