
/* главный заголовок color: #FFFFFF; */
/* цвет заголовка H2  color: #212121; */
/* цвет текста color: #757575; */
/* цвет акцента color: #2196F3; */
/* вторичный цвет фона backrgound: #F5F4FA */
/* первичный цвет фона background: #FFFFFF; */

/* var - variables - переменная */
/* a, button - color: inherit; 
- наследуй цвет шрифта от родителя */
/* :hover, :focus - псевдокласы */

/* CSS-переменные */

/* index.html */
/* body селектор, специфика - 1 */



/* шапка сайта */

/* .logo селектор класса, специфика - 10 */

/* логотип */






/* секция hero */



/* модальное окно */




/* наши возможности */




/* чем мы занимаемся */



/* наша команда */





    /* Постоянные клиенты */



     /* подвал */

     :root {
        --primery-text-color: #212121;
        --title-text-color: #757575;
        --accent-color: #2196F3;
        --primery-white-color: #ffffff;
        --section-command-bc: #F5F4FA;
        --border-color: #EEEEEE;
    }
    
    body {
        font-family: 'Roboto', sans-serif;
        color: Var(--primery-text-color); 
        letter-spacing: 0.03em;
    }
    
    /* утилиты */
    
    h1,
    h2,
    p {
        margin: 0;
        padding: 0;
    }
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        /* убралт маркер у списка */
    }
    
    /* шапка сайта */
    
    .header-portfolio {
        background-color: var(--primery-white-color);
        border-bottom: 1px solid #ECECEC;
    }
    
    .main-nav {
        display: flex;
        align-items: center;
    }
    
    .container {
        width: 1230px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        /* outline: 2px solid tomato; */
    }
    
    .logo {
        font-family: 'Raleway', sans-serif;
        color: var(--accent-color);
        text-decoration: none;
    
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
    }
    
    .logo__color__dark {
        color: var(--primery-text-color);
        font-size: 26px;
    }
    
    /* sitenav-portfolio */
    
    .sitenav__list {
        display: flex;
        margin-left: 93px;
    }
    
    .sitenav__list .current {
        position: relative;
    }
    
    .sitenav__list .current::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        left: 0;
        bottom: 0;
        background: var(--accent-color);
        border-radius: 2px;
    }
    
    .sitenav__list .sitenav__item + .sitenav__item {
        margin-left: 50px;
    }
    
    .sitenav__list .sitenav__link {
        color: var(--primery-text-color);
        /* убрали нижнее подчеркивание */
        text-decoration: none;
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    /* селектор класса, специфика - 30 */
    /* :hover - эфект при навидени mыши */
    /* :focus - эфект фокусировки, 
    когда нажал и держишь или ТАБ */
    .sitenav__list .sitenav__link:hover,
    .sitenav__list .sitenav__link:focus {
        color: var(--accent-color);
    }
    
    .sitenav__list .sitenav__link.current {
        color: var(--accent-color);
    }
    
    /* authnav-portfolio */
    
    .authnav {
        display: flex;
        margin-left: auto;
    }
    
    .authnav__item + .authnav__item {
        margin-left: 50px;
    }
    
    .authnav__link {
        color: var(--title-text-color);
        text-decoration: none;
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .authnav__link:hover,
    .authnav__link:focus {
        color: var(--accent-color);
    }
    
    .authnav {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    
    .authnav_icon {
        fill: currentColor;
        margin-right: 10px;
    }
    
    /* меню старницы */
    
    /* кнопки */

    
    
    /* основной контент */
    
    .content__text {
        font-size: 0px;
    }
    
    .work-examples__list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 105px;
        /* background-color: orange; */
    }
    
    .work-examples__item {
        width: calc((100% - 60px) / 3);
        width: 370px;
        margin-right: 30px;
    }
    
    .work-examples__item:nth-child(3n) {
        margin-right: 0;
    }
    
    .block-thumb {
        overflow: hidden;
        position: relative;
        
    }
    
    .overlay {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: var(--accent-color);
        opacity: 0.9;
    
        transform: translateY(100%);
    
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .work-examples__item:hover .overlay {
        transform: translateY(0);
    }
    
    .card-text__descrip {
        font-size: 18px;
        line-height: 1.555;
        letter-spacing: 0.03em;
        color: var(--primery-white-color);
    
        display: flex;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 63px 24px;
    
        /* opacity: 1; */
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .work-examples__item:hover .card-text__descrip {
        /* opacity: 1; */
        transform: translateY(0)
    }
    
    img {
        display: block;
        width: 100%;
        object-fit: cover;
    }
    
    .content-name {
        border: 1px solid var(--border-color);
        padding: 20px 24px;
    }
    
    /* .card:nth-last-child(-n + 3) {
        margin-bottom: 0;
    } */
    
          /* альтернатива */
    
    /* .card:not(:nth-child(3n)) {
        margin-right: 30px;
    } */
    
    .work-examples__item:not(:nth-last-child(-n + 3)) {
        margin-bottom: 30px;
    }
    
    .work-examples__link {
        text-decoration: none;
    }
    
    .work-examples__item {
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .work-examples__item:hover,
    .work-examples__item:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    
    .container .name__product {
        color: var(--primery-text-color);
    
    }
    
    .container .name__project {
        color: var(--title-text-color);
    }
    
    .name__product {
        font-weight: 700;
        font-size: 18px;
        line-height: 2.0;
        letter-spacing: 0.06em;
    
        margin-bottom: 4px;
    }
    
    .name__project {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.87;
    }
    
    /* .description {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.56;
    } */
    
    /* подвал */
    
    .page-footer {
        background-color: #2F303A;
    }
    
    .footer-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .page-footer__content {
        background-color: #2F303A;
        padding-top: 60px;
        padding-bottom: 60px;
        /* padding-left: 215px; */
    }
    
    .margin {
        margin-bottom: 20px;
    }
    
    .logo__color__white {
        color: var(--primery-white-color);
        /* margin-bottom: 20px; */
    }
    
    .authnav-footer__link {
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
    
        font-size: 14px;
        line-height: 1.7;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .authnav-footer__link:hover,
    .authnav-footer__link:focus {
        color: var(--accent-color);
    }
    
    .authnav-footer__list {
        color: var(--primery-white-color);
        font-style: normal;
        font-size: 14px;
        line-height: 1.7;
    
        margin-bottom: 9px;
    }
    
    .authnav-footer__link {
        color: rgba(255, 255, 255, 0.6);
        font-size: 14px;
    }
    
    .authnav-footer__list {
        margin-bottom: 9px;
    }
    
    /* соцсети */
    
    .social-networks{
        margin: 0;
        padding: 0;
        width: 206px;
        /* padding: 15px 0 97px 0; */
        margin-left: 70px;
    }
    
    .social-networks__text{
        margin: 0;
        padding: 0;
        color: var(--primery-white-color);
        margin-bottom: 20px;
        align-content: center;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    
    .social-networks__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .social-networks__item:not(:last-child) {
        margin-right: 10px;
    }
    
    .social-networks__link {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        border: none;
        background-color: rgba(255, 255, 255, 0.1);;
        color: var(--primery-white-color);
    
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .social-networks__link:hover,
    .social-networks__link:focus {
        background-color: var(--accent-color);
        color: var(--primery-white-color);
    }
    
    .social-networks__icon {
        fill: currentColor;
    }
    
    /* подписка */
    
    .subscribe {
        display: flex;
        align-items: end;
        margin-left: 93px;
    }
    
    .subscribe__form {
        display: flex;
        flex-direction: column;
    }
    
    .subscribe__label {
        font-weight: bold;
        font-size: 14px;
        line-height: 1.142;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #FFFFFF;
    
        margin-bottom: 20px;
    }
    
    .subscribe__input {
        width: 358px;
        height: 50px;
    
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
    
        background-color: var(--footer-color);
        margin-right: 12px;
    
        outline: none;
    
        padding: 15px 16px;
    
        caret-color: white;
    
    }
    
    .subscribe__input::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
    }
    
    .subscribe__button {
        font-weight: bold;
        font-size: 16px;
        line-height: 1.875;
        height: 50px;
    
        padding: 10px 29px;
    
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
    
        color: #FFFFFF;
    
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border-color: transparent;
    
        cursor: pointer;
    }
    
    .subscribe__icon {
        margin-left: 10px;
    }
    







